<ons-page ng-controller="MeCtrl">
    <ons-toolbar>
        <div class="left"><ons-back-button>返回</ons-back-button></div>
        <div class="center" >修改密码</div>
    </ons-toolbar>
    <ons-list>
        <ons-list-item>
        <ons-row>
            <ons-col width="90px">
                <span style="color: #666">旧密码</span></ons-col>
            <ons-col>
                <input type="password" placeholder="旧密码" ng-model="me.oldPassword" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-col>
        </ons-row>
        </ons-list-item>
        <ons-list-item>
        <ons-row>
            <ons-col width="90px">
                <span style="color: #666">新密码</span></ons-col>
            <ons-col>
                <input type="password" placeholder="新密码" ng-model="me.newPassword" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
            </ons-col>
        </ons-row>
            </ons-list-item>
        <ons-list-item>
            <ons-row>
                <ons-col width="90px">
                    <span style="color: #666">重复新密码</span></ons-col>
                <ons-col>
                    <input type="password" placeholder="重复新密码" ng-model="me.newPassword1" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <div class="content-padded">
        <ons-button modifier="large" ng-click="saveNewPassword()">
            Save
        </ons-button>
{{errorMsg}}
    </div>

</ons-page>